@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-base: #0F253A;
    --shadow-std: 4px 4px 4px 0px rgba(0, 0, 0, 0.20);
    --shadow-figure: 9.90625px 9.90625px 1.98125px 0px rgba(0, 0, 0, 0.15);
    --border-std: 1px solid var(--blue-base);
}

@font-face {
    font-family: "Cabin";
    src: url("../fonts/Cabin-VariableFont_wdth,wght.ttf");
}

.ff-cabin {
    font-family: "Cabin", system-ui, sans-serif;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf")
}

.ff-montserrat {
    font-family: "Montserrat", system-ui, sans-serif;
}

@layer base {
    /* this hash is problematic - consider omitting */
    .hash {
        @apply text-base-300;
        position: absolute;
        display: inline-block;
        transform: translateX(-1rem);
        font-weight: normal;
        /* TODO: margins too small for this currently */
    }

    input[type="checkbox"] {
        @apply accent-primary
    }

    html {
        font-family: "Cabin", system-ui, sans-serif;
        @apply bg-base-100
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Montserrat", system-ui, sans-serif;
        @apply text-primary
    }

    body {
        @apply my-0 top-0
    }

    .btn {
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .btn.btn-base {
        @apply bg-primary text-primary-content hover:bg-primary-focus rounded-none
    }

    .btn::after {
        content: '→';
    }

    div.inner .boxlinks {
        @apply my-8
    }

    div.inner a.boxlink {
        @apply bg-info border-primary border-2 py-2 px-4 no-underline ml-4 first:ml-0;
        box-shadow: var(--shadow-std);
    }

    div.inner {
        color: var(--blue-base) !important; /* MH TODO: don't know why I can't use apply text-primary here... */
        @apply prose p-5 sm:max-w-3xl my-auto mx-auto;
        border: 1px solid var(--blue-base);
        box-shadow: var(--shadow-std)
    }

    div#mobile_banner {
        @apply relative sm:static 
    }

    #hamburger-btn, #hamburger-btn-2 {
        @apply drawer-button lg:hidden bg-primary text-primary-content top-2 left-2 btn-square w-fit h-fit p-1 rounded-md !important
    }

    #hamburger-btn {
        @apply fixed z-0;
    }

    .drawer-toggle ~ .drawer-side #hamburger-btn-2 {
        display: none;
    }

    .drawer-toggle:checked ~ .drawer-side #hamburger-btn-2 {
        display: block !important;
    }

    #hamburger-btn-2 {
        @apply fixed z-[999];
    }

    #linkbar {
        box-shadow: var(--shadow-std);
        border-bottom: var(--border-std);
    }
    
    #linkbar .inner {
        box-shadow: none;
        border: 0;
        display: flex;
        justify-content: flex-end;
    }

    #linkbar div.inner a {
        @apply no-underline uppercase bg-primary text-primary-content hover:bg-primary-focus pl-4 pr-4 py-2 ml-4 first:ml-0;
    }

    #header-bg {
        width: 100%;
        @apply bg-primary xl:w-[calc(100%-4rem)];
        display: flex;
        align-items: center;
        padding: 40px 0;
        box-shadow: var(--shadow-std)
    }

    #header-content {
        /* @apply max-h-full max-w-full sm:max-h-80 sm:mx-auto */
        @apply sm:max-w-3xl mx-auto my-auto w-full pl-5 pr-5 md:pl-0 md:pr-0
    }

    #header-title {
        @apply uppercase font-medium text-4xl md:text-5xl lg:text-6xl xl:text-8xl text-primary-content;
    }

    #header-subtitle {
        @apply text-lg md:text-2xl normal-case text-primary-content mt-0
    }

    main {
        @apply sm:min-h-screen md:min-h-0
    }

    /* Sidebar */
    #sidebar-close-btn {
        @apply btn-square drawer-button z-20 bg-accent text-accent-content !important
    }

    .drawer-open .drawer-side {
        box-shadow: var(--shadow-std);
        border-right: var(--border-std);
        /* @apply w-full */
    }

    .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
        /* MH TODO: if we apply a non-standard background here it covers the button. We would need to add another perfectly overlaying button within the drawer and give it the same functionality as the base (unopened) layer */
        @apply bg-primary-content !important;
    }

    .drawer-toggle:checked ~  #sidebar-close-btn {
        @apply z-50 mr-10 mt-10 !important 
    }

    img#sidebar-logo {
        /* @apply w-32 mt-5 sm:mt-14 pl-5 sm:pl-6 !important */
        @apply w-32 mt-5 sm:mt-2
    }

    .sidebar-title {
        @apply uppercase text-4xl font-normal
    }

    img#footer-logo {
        /* @apply w-32 mt-5 sm:mt-14 pl-5 sm:pl-6 !important */
        @apply w-32
    }

    ul.menu {
        @apply bg-primary-content mt-12 sm:mt-0 w-full sm:w-72  min-h-full;
    }

    ul.menu > li {
        @apply leading-6 font-medium w-full
    }

    ul.menu details {
        /* width: 100%; */
        @apply w-full
    }

    ul.menu :where(li ul){
        @apply ml-0 pl-0
    }

    ul.menu > li.upcoming, ul.menu > li.upcoming a {
        /* @apply opacity-50 */
        @apply text-gray-400 bg-transparent font-normal
    }

    ul.menu > li.upcoming {
        @apply border-[1px] border-gray-400 mt-2
    }


    .menu :where(li ul):before {
        @apply bg-transparent !important;
    }

    ul.menu > li:hover {
        /* @apply bg-primary dark:bg-secondary rounded-md */
        
    }

    ul.menu > li a {
        white-space: normal !important;
    }

    ul.sub_menu {
        @apply pb-2;
        list-style-type: square !important;
        /* MH TODO: list bullets not showing up, not sure why */
    }

    ul.sub_menu > li {
        @apply leading-3;
        /* @apply w-full */
    }

    ul.sub_menu > li a:before {
        content: "▪";
    }
    

    ul.menu > li ul.sub_menu > li a {
        /* @apply w-1/2 */
        line-height: 1.5em;
        white-space: normal !important;
        @apply w-full font-normal
        
    }

    ul.menu > li ul.sub_menu li:hover {
        @apply bg-info rounded-none
    }

    ul.menu > li ul.sub_menu li:hover a {
        background-color: inherit;
    }

    ul.menu li > details > summary {
        @apply border-[1px] mt-2 border-primary rounded-none;
    }

    ul.menu li > details > summary:hover {
        @apply bg-info
    }

    /* ul.menu li > details > summary:active {
        @apply bg-secondary dark:bg-neutral
    } */

    

    /* Articles */
    div.prose {
        @apply dark:text-white
    }

    .page-header {
        @apply text-3xl font-medium mt-9 mb-0 
    }

    

    footer {
        @apply p-4 pt-2 sm:pt-10 sm:pb-10 mx-auto my-auto bg-primary text-primary-content text-xs
    }

    footer nav {
        @apply leading-6 columns-1 sm:columns-2 items-center sm:max-w-3xl sm:mx-auto sm:my-auto
    }

    footer nav div.container {
        @apply mt-3 sm:h-36
    }

    footer ul {
        @apply underline sm:max-w-3xl mx-auto my-auto
    }
    #content a.button-next-page {
        @apply btn rounded-none text-white font-medium pt-0 pb-0 pr-8 pl-8 no-underline bg-primary hover:bg-primary-focus
    }

    /* newsletter */
    #newsletter-section {
        @apply pt-6;
    }

    #newsletter-section .inner {
        background-color: transparent;
        @apply text-white
    }

    #newsletter-thanks {
        @apply hidden
    }

    #newsletter-details {
        @apply hidden
    }

    .email-checkbox {
        @apply w-6 h-6;
    }
    
    .email-submit {
        border: none;
    }

}



#content h2 {
    @apply text-3xl font-medium mt-9 mb-5;
    text-transform: uppercase;
}

/* blue bar above the section headers*/
h4 {
    text-transform: uppercase;
    @apply text-xl font-medium mt-6 mb-3 text-primary
}

h4::before {
    content: '';
    height: 0.3125rem;
    @apply border-t-4 border-primary my-auto w-16 block;
    border-color: var(--blue-base);
}

#content h5, #content h5 a {
    @apply text-lg font-medium mt-6 mb-3 text-secondary
}

#content p {
    @apply leading-6 font-normal text-inherit
}



.inner {
    color: var(--blue-base);
    @apply prose p-5 md:pl-0 md:pr-0 sm:max-w-3xl my-auto mx-auto dark:text-inherit
}

.inner code {
    padding: 0;
}

.inner .btn-colab {
    max-width: 211px;
}

/* cards */

.card {
    border-radius: 0;
}

.card-body, .card-compact .card-body {
    @apply text-black dark:text-white text-base;
}

.card.image-top {
    @apply w-full md:w-[45%]
}

.card.image-left, .card.image-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.card.image-left {
    @apply flex-col md:flex-row;
}

.card.image-right {
    @apply flex-col md:flex-row-reverse;
}

.card.image-left .card-figure, .card.image-right .card-figure {
    @apply w-full md:w-[45%];
    flex-grow: 0;
    flex-shrink: 0;
}

.card.image-left .card-body {
    @apply md:ml-[5%] p-0;
}

.card.image-right .card-body {
    @apply md:mr-[5%] p-0;
}

.image-cards {
    @apply bg-info-content p-12;
    box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.image-cards figure {
    box-shadow: var(--shadow-figure);
}

.image-cards .card-body p {
    margin-top: 0;
}

/* state classes */

.hidden {
    display: none;
}

/* PAGE SPECIFIC */



.collaboration-description {
    @apply hidden
}

