@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue-base: #0F253A;
    --shadow-std: 4px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

.ff-sg {
    font-family: "Space Grotesk";
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf")
}

.ff-inter {
    font-family: inter;
}

@layer base {
    /* this hash is problematic - consider omitting */
    .hash {
        @apply text-base-300;
        position: absolute;
        display: inline-block;
        transform: translateX(-1rem);
        font-weight: normal;
        /* TODO: margins too small for this currently */
    }

    input[type="checkbox"] {
        @apply accent-primary
    }

    html {
        font-family: Inter, system-ui, sans-serif;
        @apply bg-base-100
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: "Space Grotesk", system-ui, sans-serif;
        @apply text-primary
    }

    body {
        @apply my-0 top-0
    }

    .btn {
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .btn.btn-base {
        @apply bg-primary text-primary-content hover:bg-primary-focus rounded-none
    }

    .btn::after {
        content: '→';
    }

    div.inner {
        color: var(--blue-base) !important; /* MH TODO: don't know why I can't use apply text-primary here... */
        @apply prose p-5 sm:max-w-3xl my-auto mx-auto;
        border: 1px solid var(--blue-base);
        box-shadow: var(--shadow-std)
    }

    div#mobile_banner {
        @apply relative sm:static 
    }

    #hamburger-btn {
        @apply fixed drawer-button lg:hidden z-0 bg-primary text-primary-content top-2 left-2 btn-square w-fit h-fit p-1 rounded-md !important
    }

    #linkbar {
        box-shadow: var(--shadow-std);
    }
    
    #linkbar .inner {
        box-shadow: none;
        border: 0;
        display: flex;
        justify-content: flex-end;
    }

    #linkbar div.inner a {
        @apply no-underline uppercase bg-primary text-primary-content hover:bg-primary-focus pl-4 pr-4 py-2 ml-4 first:ml-0;
    }

    #header-bg {
        width: 100%;
        @apply bg-primary xl:w-[calc(100%-4rem)];
        display: flex;
        align-items: center;
        padding: 40px 0;
        box-shadow: var(--shadow-std)
    }

    #header-bg h1 {
        text-transform: uppercase;
    }

    #header-content {
        /* @apply max-h-full max-w-full sm:max-h-80 sm:mx-auto */
        @apply sm:max-w-3xl mx-auto my-auto w-full pl-5 pr-5 md:pl-0 md:pr-0
    }

    #header-title {
        font-size: 4rem;
        color: white;
        font-weight: 500;
    }

    main {
        @apply sm:min-h-screen md:min-h-0
    }

    /* Sidebar */
    #sidebar-close-btn {
        @apply btn-square drawer-button z-20 bg-accent text-accent-content !important
    }

    .drawer-open .drawer-side {
        @apply bg-white dark:bg-black 
        /* @apply w-full */
    }

    .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
        /* @apply bg-white bg-opacity-100 dark:bg-black dark:text-white text-black !important */
        @apply dark:text-white text-black !important
        /* @apply h-full  */
    }

    .drawer-toggle:checked ~  #sidebar-close-btn {
        @apply z-50 mr-10 mt-10 !important 
    }

    img#sidebar-logo {
        /* @apply w-32 mt-5 sm:mt-14 pl-5 sm:pl-6 !important */
        @apply w-32 mt-5 sm:mt-14
    }

    img#footer-logo {
        /* @apply w-32 mt-5 sm:mt-14 pl-5 sm:pl-6 !important */
        @apply w-32
    }

    ul.menu {
        @apply bg-white dark:bg-black mt-12 sm:mt-0 w-full sm:w-72  min-h-full
    }

    ul.menu > li {
        @apply leading-6 font-medium w-full
    }

    ul.menu details {
        /* width: 100%; */
        @apply w-full
    }

    ul.menu :where(li ul){
        @apply ml-0 pl-0
    }

    ul.menu > li.upcoming, ul.menu > li.upcoming a {
        /* @apply opacity-50 */
        @apply text-gray-400 bg-transparent font-normal
    }

    ul.menu > li.upcoming:hover,
    ul.menu > li.upcoming:hover a {
        cursor: default;
        @apply text-gray-400 bg-transparent
    }

    ul.menu > li.upcoming .badge, ul.menu > li.upcoming a .badge {
        @apply p-10 text-secondary border-2 border-secondary p-3 rounded-md dark:bg-black
        
    }
    /* MH - not sure why tailwind adds some weird HSL value that overrides "text-accent" */
    @media (prefers-color-scheme: dark){
        ul.menu > li.upcoming .badge, ul.menu > li.upcoming a .badge {
        color: #73FDAF !important; 
        }
    }

    ul.menu > li:hover {
        /* @apply bg-primary dark:bg-secondary rounded-md */
        
    }

    ul.menu > li a {
        white-space: normal !important;
        @apply text-black dark:text-white font-medium
    }


    ul.menu > li:hover summary  {
        /* @apply text-white dark:text-secondary */
        @apply dark:bg-neutral
    }

    ul.menu > li:hover summary a {
        @apply dark:text-secondary
    }

    ul.menu > li:hover > details > summary::after {
        @apply dark:text-secondary
    }

    ul.sub_menu {
        @apply border-b-2 dark:border-neutral pb-2
    }

    ul.sub_menu > li {
        @apply leading-3 w-full
        /* @apply w-full */
    }

    ul.sub_menu > li:hover {
        @apply bg-secondary dark:bg-neutral rounded-md
    }
    

    ul.menu > li ul.sub_menu > li a {
        /* @apply w-1/2 */
        line-height: 1.5em;
        white-space: normal !important;
        @apply w-full pl-6 font-normal
        
    }

    ul.menu > li ul.sub_menu li:hover {
        @apply bg-secondary dark:bg-neutral rounded-md
    }

    ul.menu > li ul.sub_menu li:hover a {
        @apply text-black dark:text-secondary
    }

    ul.menu li > details > summary:active {
        @apply bg-secondary dark:bg-neutral
    }

    

    /* Articles */
    div.prose {
        @apply dark:text-white
    }

    .page-header {
        @apply text-3xl font-medium mt-9 mb-0 
    }

    

    footer {
        @apply p-4 pt-2 sm:pt-10 sm:pb-10 mx-auto my-auto bg-primary text-primary-content text-xs
    }

    footer nav {
        @apply leading-6 columns-1 sm:columns-2 items-center sm:max-w-3xl sm:mx-auto sm:my-auto
    }

    footer nav div.container {
        @apply mt-3 sm:h-36
    }

    footer ul {
        @apply underline sm:max-w-3xl mx-auto my-auto
    }
    #content a.button-next-page {
        @apply btn rounded-none text-white font-medium pt-0 pb-0 pr-8 pl-8 no-underline bg-primary hover:bg-primary-focus
    }

    /* newsletter */
    #newsletter-section {
        @apply pt-6;
    }

    #newsletter-section .inner {
        background-color: transparent;
        @apply text-white
    }

    #newsletter-thanks {
        @apply hidden
    }

    #newsletter-details {
        @apply hidden
    }

    .email-checkbox {
        @apply w-6 h-6;
    }
    
    .email-submit {
        border: none;
    }

}



#content h2 {
    @apply text-3xl font-medium mt-9 mb-5;
    text-transform: uppercase;
}

/* blue bar above the section headers*/
h4 {
    text-transform: uppercase;
    @apply text-xl font-medium mt-6 mb-3 text-primary
}

h4::before {
    content: '';
    height: 0.3125rem;
    @apply border-t-4 border-primary my-auto w-16 mb-2 block;
    border-color: var(--blue-base);
}

#content h5, #content h5 a {
    @apply text-lg font-medium mt-6 mb-3 text-secondary
}

#content p {
    @apply leading-6 font-normal text-inherit
}



.inner {
    color: var(--blue-base);
    @apply prose p-5 md:pl-0 md:pr-0 sm:max-w-3xl my-auto mx-auto dark:text-inherit
}

.inner code {
    padding: 0;
}

.inner .btn-colab {
    max-width: 211px;
}

/* cards */

.card {
    border-radius: 0;
}

.card-body, .card-compact .card-body {
    @apply text-black dark:text-white text-base;
}

.card.image-top {
    @apply w-full md:w-[45%]
}

.card.image-left, .card.image-right {
    display: flex;
    align-items: center;
    width: 100%;
}

.card.image-left {
    @apply flex-col md:flex-row;
}

.card.image-right {
    @apply flex-col md:flex-row-reverse;
}

.card.image-left .card-figure, .card.image-right .card-figure {
    @apply w-full md:w-[45%];
    flex-grow: 0;
    flex-shrink: 0;
}

.card.image-left .card-body {
    @apply md:ml-[5%] p-0;
}

.card.image-right .card-body {
    @apply md:mr-[5%] p-0;
}

/* state classes */

.hidden {
    display: none;
}

/* PAGE SPECIFIC */



.collaboration-description {
    @apply hidden
}

