// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

$image-path: '../../img';
$font-path: '../../fonts';

@import '@mozilla-protocol/core/protocol/css/protocol';
@import '@mozilla-protocol/core/protocol/css/includes/lib';
@import '@mozilla-protocol/core/protocol/css/components/button';
@import '@mozilla-protocol/core/protocol/css/components/breadcrumb';
@import '@mozilla-protocol/core/protocol/css/components/picto';
@import '@mozilla-protocol/core/protocol/css/components/newsletter-form';
@import '@mozilla-protocol/core/protocol/css/templates/multi-column';
@import '@mozilla-protocol/core/protocol/css/components/footer';

@import 'cohort';
@import "innovation-landing";
@import "builders-challenge";
@import "footer";

// Helper classes
.gradient-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), radial-gradient(#ffa436 0%, #FF298A 50%, #7542e4 100%) right center no-repeat;
}

.dark-highlight {
    background-color: $color-black;
    color: $color-white;
    padding: 0 $spacing-sm;
    box-decoration-break: clone;
    line-height: 1.3;
}

.mzp-c-navigation {
    background-color: $color-black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .mzp-c-navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        &:after {
            content: none;
        }

        .mzp-c-button {
            display: none;
        }

        @media #{$mq-xs} {
            flex-direction: row;
        }

        @media #{$mq-md} {
            .mzp-c-button {
                display: block;
            }
        }
    }
}


.hero-section {
    background-image: url("/img/hero-bg.svg"), linear-gradient(90.29deg, rgba(0, 0, 0, 0.5) 72.2%, rgba(0, 0, 0, 0) 99.74%);
    background-repeat: no-repeat;
    background-position: right;
    background-color: $color-black;

    .hero-text-wrapper {
        max-width: 100%;
        background: linear-gradient(90deg, rgba(0,0,0,0.5014174117370784) 0%, rgba(0,0,0,0.5014174117370784) 80%, rgba(0,0,0,0) 100%);

        h1 {
            @include font-size(42px);
            font-weight: 500;
        }

        h2 {
            @include font-size(64px);
        }
    }

    @media #{$mq-md} {
        .hero-text-wrapper {
            max-width: 55%;
        }
    }
}

.benefits-section {
    display: grid;
    grid-template-columns: [start] 1fr 1fr 1fr [end];
    column-gap: 24px;
    row-gap: 32px;

    .benefits-text-wrapper {
        grid-column: start / end;
        max-width: $content-md;
        margin: 0 auto;


        h2 {
            text-align: center;
        }
    }

    .why-join-container {
        grid-column: span 3;
        border: 1px solid #CCCCCC;

        .why-join-subheader {
            @include font-mozilla;
            @include font-size(32px);
            padding: $spacing-md 0;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }

        @media #{$mq-md} {
            grid-column: span 1;
        }
    }


    .mzp-c-picto {
        padding: 0 15px;

        .mzp-c-picto-image {
            margin-bottom: 0;

            img {
                height: 75px;
            }
        }

        .mzp-c-picto-heading {
            @include font-base;
            @include font-size(18px);
        }
    }
}

.question-section .mzp-l-content {
    background: none;

    small {
        display: block;
        margin-bottom: $spacing-md;
    }

    h2 {
        margin-bottom: $spacing-lg;
    }

    small + h2, p + h2 {
        margin-top: $spacing-2xl;
    }
}

.teams-text-wrapper {
    max-width: $content-md;
    margin: 0 auto $layout-lg;


    h2 {
        text-align: center;
    }
}

.teams-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: $spacing-2xl;
    row-gap: $spacing-lg;

    .c-card {
        grid-column: span 1;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .c-card-company {
            @include font-size(14px);
            margin-bottom: 0;
        }

        .c-card-title {
            @include font-mozilla;
            @include font-size(32px);
            display: block;
        }

        .c-card-cta, .c-card-title {
            color: $color-white;

            &:hover {
                color: $color-white;
            }
        }

        .c-card-desc, .c-card-mission, .c-card-cta {
            @include font-size(14px);
        }

        .c-card-cta {
            position: relative;

            &:before {
                content: "\002b  ";
            }
        }

    }

    @media #{$mq-md} {
       grid-template-columns: 1fr 1fr;
    }

    @media #{$mq-lg} {
       grid-template-columns: 1fr 1fr 1fr;
    }
}

.collaborate-title {
    align-self: center;
}

.faq-section {
   h2 {
        @include font-size(40px);
        text-align: center;
        margin-top: $spacing-xl;
    }

    h3 {
        @include font-size(24px);
        margin: $spacing-xl 0 $spacing-lg;
    }
}

.newsletter-title {
    text-align: center;
}

.mzp-c-newsletter {
    column-gap: $spacing-2xl;

    .mzp-c-newsletter-form {
        padding-top: 0;

        // initial state for the form details to be hidden
        .mzp-c-newsletter-details {
            display: none;

            label.mzp-u-inline {
                display: inline-block;
            }

            input[type="text"], textarea {
                width: 100%;
            }

            .interests {
                margin-bottom: $spacing-md;
            }
        }

        .mzp-c-form-submit button[type="submit"] {
            margin-bottom: $spacing-lg;
        }
    }
}
