<li>
    <details closed>
        <summary>
            <a href="/content/choosing-ml-models/index.html">Choosing ML Models</a>
        </summary>
        <ul class='sub_menu'>
            <li><a href="/content/choosing-ml-models/index.html#first-steps-with-language-models">First Steps With Language Models</a></li>
            <li><a href="/content/choosing-ml-models/index.html#evaluating-ml-model-results">Evaluating ML Model Results</a></li>
            <li><a href="https://colab.research.google.com/gist/skyfallsin/7f11871fba50f2b50b5f361e4b43d114/ai-guide-evaluate-ml-results.ipynb"><img alt="Open this Notebook in Colab" class="hover:[filter:saturate(1.5)]" id='colab-model-selection' src="/img/ai/ui/colab.png" target='_blank' rel='noopener noreferrer' /></a></li>
        </ul>
    </details>
</li>
