<h2 id="choosing-ml-models">Choosing ML Models</h2>
<p>This section will walk through a very specific approach to select, run and evaluate the results of ML models. We're starting with a small Language Model to illustrate this building block. It's highly recommended to follow along inside Colab so you can run the examples. All examples will run within Colab's free T4 GPU constraints.</p>

<h4 id="first-steps-with-language-models">First Steps With Language Models</h4>
<p><a href="https://colab.research.google.com/github/mozilla/ai-guide/blob/b2aeb2603be086a21d000f0db5934acdb23c5161/templates/content/choosing-ml-models/ai-guide-pick-a-model-test-a-model.ipynb" target="_blank"><img alt="Open this Notebook in Colab" class="btn-colab hover:[filter:saturate(1.5)]" id='colab-model-selection' src="/img/ai/ui/colab.png" target='_blank' rel='noopener noreferrer' /></a></p>

<code>
{% include "content/choosing-ml-models/ai-guide-pick-a-model-test-a-model.html" %}
</code>


<h4 id="evaluating-ml-model-results">Evaluating ML Model Results</h4>
<p><a target="_blank" href="https://colab.research.google.com/github/mozilla/ai-guide/blob/b2aeb2603be086a21d000f0db5934acdb23c5161/templates/content/choosing-ml-models/ai-guide-evaluate-ml-results.ipynb"><img alt="Open this Notebook in Colab" class="btn-colab hover:[filter:saturate(1.5)]" id='colab-model-selection' src="/img/ai/ui/colab.png" target='_blank' rel='noopener noreferrer' /></a></p>
<code>
{% include "content/choosing-ml-models/ai-guide-evaluate-ml-results.html" %}
</code>

<div class="mt-10">
    <a class="button-next-page" href="https://forms.gle/eYJ2s6avtCBXMUQH9" target="_blank" rel="noopener noreferrer">❤️ Share Your Feedback</a>
</div>

<div class="mt-3">
    or 
    <a class="edit-this-page" target="_"  href="https://github.com/mozilla/ai-guide/edit/main/templates/content/choosing-ml-models/index.md">contribute to this page on Github ></a>
</div>
