<footer id='footer' class="mzp-c-footer">
    <div class="mzp-l-content ">
        <nav class="mzp-c-footer-secondary ">
            <a href="index.html"><img alt="Mozilla logo" class="[filter:invert(1)]" id='footer-logo' src="/img/mozilla-only.png"/></a>
                <div class="container">
                  <ul class="mzp-c-footer-terms">
                      <li><a href="https://www.mozilla.org/privacy/websites/" data-link-type="footer" data-link-name="Privacy">Website Privacy
                              Notice</a></li>
                      <li><a href="https://www.mozilla.org/privacy/websites/#user-choices" data-link-type="footer"
                              data-link-name="Cookies">Cookies</a></li>
                      <li><a href="https://www.mozilla.org/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
                      <li><a href="https://www.mozilla.org/about/governance/policies/participation/" data-link-type="footer"
                              data-link-name="Community Participation Guidelines">Community Participation Guidelines</a></li>
                      <li><a href="https://www.mozilla.org/about/this-site/" data-link-type="footer" data-link-name="About this site">About
                              this site</a></li>
                  </ul>
                </div>
                <div class="container">
                  <div class="mzp-c-footer-license leading-6" rel="license">
                      Visit <a href="https://www.mozilla.org/" class="underline">Mozilla Corporation’s</a> not-for-profit parent, the <a
                          href="https://foundation.mozilla.org/?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=footer" class="underline"
                          rel="external noopener">Mozilla Foundation</a>.
                      Portions of this content are ©1998–2023 by individual mozilla.org contributors. Content available under
                      a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
                  </div>
                </div>
        </nav>
    </div>
</footer>
