<div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <!-- <button id="sidebar-close-btn" class="drawer-button">X</button> -->
    
    <ul class="menu">
      <li><a href="index.html"><img alt="Mozilla logo" class="dark:[filter:invert(1)]" id='sidebar-logo' src="/img/mozilla-only.png"/></a></li>
      <li><h2 class="sidebar-title">AI Guide</h2></li>
      {% include "content/introduction/_sidebar.html"%}
      {% include "content/ai-basics/_sidebar.html"%}
      {% include "content/llms-101/_sidebar.html"%}
      {% include "content/choosing-ml-models/_sidebar.html" %}
      {% include "content/_upcoming.html" %}
      {% include "content/notable-projects/_sidebar.html" %}
      <li class='mt-5 pt-2 border-t-2 border-t-gray-100'><a href="https://forms.gle/eYJ2s6avtCBXMUQH9" target='_blank' rel='noopener noreferrer'>❤️ Share Your Feedback ></a></li>
    </ul>

</div>

<script type='text/javascript'>
  var sidebarDrawer = document.getElementById('my-drawer-2');

  document.querySelectorAll("ul.menu li a").forEach(function(item) {
    item.addEventListener('click', function() {
      sidebarDrawer.checked = false;
      return true;
    });
  });
</script>
