
<div class="drawer-side">
  
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <!-- TODO: adding a div here is needed to provide a solid background color over underlying content, but this throws off alignment and layout of button -->
    <label id='hamburger-btn-2' class="hamburger-btn" for="my-drawer-2">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        <path d="M6 18L18 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
        </svg>        
    </label>
    <ul class="menu">
      <li><a href="/"><img alt="Mozilla logo" class="" id='sidebar-logo' src="/img/mozilla-only.png"/></a></li>
      <li><a href="/"><h2 class="sidebar-title">AI Guide</h2></a></li>
      {% include "content/introduction/_sidebar.html"%}
      {% include "content/ai-basics/_sidebar.html"%}
      {% include "content/llms-101/_sidebar.html"%}
      {% include "content/choosing-ml-models/_sidebar.html" %}
      {% include "content/running-llms-locally/_sidebar.html" %}
      {% include "content/notable-projects/_sidebar.html" %}
      {% include "content/_upcoming.html" %}
      
      <li class='mt-5 pt-2 border-t-[1px] border-t-primary ff-cabin uppercase'>
        <span>️❤️<a class="pl-0 text-base font-medium" href="/content/contributions/index.html">Contribution Guide</a></span>
      </li>
      <li class='mt-0 pt-2 ff-cabin uppercase'>
        <span>️💬 <a class="pl-0 text-base font-medium" href="https://discord.gg/3egbzTKhdk">Join our Discord</a></span>
      </li>
    </ul>

</div>

<script type='text/javascript'>
  var sidebarDrawer = document.getElementById('my-drawer-2');

  document.querySelectorAll("ul.menu li a").forEach(function(item) {
    item.addEventListener('click', function() {
      sidebarDrawer.checked = false;
      return true;
    });
  });
</script>
