<footer class="mzp-c-footer">
    <div class="mzp-l-content">
        <nav class="mzp-c-footer-primary">
            <div class="mzp-c-footer-primary-logo">
                <a href="https://www.mozilla.org">Mozilla</a>
            </div>
            <div class="mzp-c-footer-sections">
                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading">
                        Company
                    </h5>
                    <ul class="mzp-c-footer-list">
                        <li><a href="https://www.mozilla.org/about/manifesto/">Mozilla Manifesto</a></li>
                        <li><a href="https://blog.mozilla.org/press/">Press Center</a></li>
                        <li><a href="https://blog.mozilla.org/">Corporate Blog</a></li>

                        <li><a href="https://www.mozilla.org/careers/" data-link-type="footer" data-link-name="Careers">Careers</a></li>
                        <li><a href="https://www.mozilla.org/contact/" data-link-type="footer" data-link-name="Contact">Contact</a></li>
                        <li><a href="https://foundation.mozilla.org/?form=donate">Donate</a></li>
                    </ul>
                </section>
                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading">Resources</h5>
                    <ul class="mzp-c-footer-list">
                        <li><a href="https://www.mozilla.org/privacy/">Privacy Hub</a></li>

                        <li><a href="https://www.mozilla.org/firefox/browsers/compare/">Browser Comparison</a></li>

                        <li><a href="https://mozilla.design/">Brand Standards</a></li>
                    </ul>
                </section>

                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading">Support</h5>
                    <ul class="mzp-c-footer-list">
                        <li><a href="https://support.mozilla.org/?utm_source=www.mozilla.org">Product Help</a></li>
                        <li><a href="https://bugzilla.mozilla.org/">File a Bug</a></li>
                    </ul>
                </section>

                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading">Developers</h5>
                    <ul class="mzp-c-footer-list">
                        <li><a href="https://www.mozilla.org/firefox/developer/" data-link-type="footer"
                                data-link-name="Firefox Developer Edition">Developer Edition</a></li>
                        <li><a href="https://www.mozilla.org/firefox/channel/desktop/#beta" data-link-type="footer"
                                data-link-name="Firefox Beta">Beta</a></li>
                        <li><a href="https://www.mozilla.org/firefox/channel/android/#beta" data-link-type="footer"
                                data-link-name="Firefox Beta for Android">Beta for Android</a></li>
                        <li><a href="https://www.mozilla.org/firefox/channel/desktop/#nightly" data-link-type="footer"
                                data-link-name="Firefox Nightly">Nightly</a></li>
                        <li><a href="https://www.mozilla.org/firefox/channel/android/#nightly" data-link-type="footer"
                                data-link-name="Firefox Nightly for Android">Nightly for Android</a></li>
                        <li><a href="https://www.mozilla.org/firefox/enterprise/" data-link-type="footer"
                                data-link-name="Firefox for Enterprise">Enterprise</a></li>
                        <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=footer&amp;utm_content=developers"
                                rel="external" data-link-type="footer" data-link-name="Tools">Tools</a></li>
                    </ul>
                </section>

                <section class="mzp-c-footer-section">
                    <h5 class="mzp-c-footer-heading-social">Follow @Mozilla</h5>
                    <ul class="mzp-c-footer-links-social">
                        <li><a class="twitter" href="https://twitter.com/mozilla" data-link-type="footer"
                                data-link-name="Twitter (@mozilla)">Twitter<span> (@mozilla)</span></a></li>
                        <li><a class="mastodon" href="https://mastodon.social/@Mozilla" rel="me" data-link-type="footer"
                                data-link-name="Mastodon (@mozilla)">Mastodon<span> (@mozilla)</span></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/mozilla/" data-link-type="footer"
                                data-link-name="Instagram (@mozilla)">Instagram<span> (@mozilla)</span></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/company/mozilla-corporation/"
                                data-link-type="footer" data-link-name="LinkedIn (@mozilla)">LinkedIn<span>
                                    (@mozilla)</span></a></li>
                        <li><a class="tiktok" href="https://www.tiktok.com/@mozilla" data-link-type="footer"
                                data-link-name="TikTok (@mozilla)">TikTok<span> (@mozilla)</span></a></li>
                        <li><a class="spotify"
                                href="https://open.spotify.com/show/0vT7LJMeVDxyQ2ZamHKu08?si=_uDRD6bRR_6M5YZyISGXgA"
                                data-link-type="footer" data-link-name="Spotify (@mozilla)">Spotify<span>
                                    (@mozilla)</span></a></li>
                    </ul>

                    <h5 class="mzp-c-footer-heading-social">Follow @Firefox</h5>
                    <ul class="mzp-c-footer-links-social">
                        <li><a class="twitter" href="https://twitter.com/firefox" data-link-type="footer"
                                data-link-name="Twitter (@firefox)">Twitter<span> (@firefox)</span></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/firefox/" data-link-type="footer"
                                data-link-name="Instagram (@firefox)">Instagram<span> (@firefox)</span></a></li>
                        <li><a class="youtube" href="https://www.youtube.com/user/firefoxchannel" data-link-type="footer"
                                data-link-name="YouTube (@firefoxchannel)">YouTube<span> (@firefoxchannel)</span></a></li>
                    </ul>
                </section>
            </div>
        </nav>
        <nav class="mzp-c-footer-secondary">
            <div class="mzp-c-footer-legal">
                <ul class="mzp-c-footer-terms">
                    <li><a href="https://www.mozilla.org/privacy/websites/" data-link-type="footer" data-link-name="Privacy">Website Privacy
                            Notice</a></li>
                    <li><a href="https://www.mozilla.org/privacy/websites/#user-choices" data-link-type="footer"
                            data-link-name="Cookies">Cookies</a></li>
                    <li><a href="https://www.mozilla.org/about/legal/" data-link-type="footer" data-link-name="Legal">Legal</a></li>
                    <li><a href="https://www.mozilla.org/about/governance/policies/participation/" data-link-type="footer"
                            data-link-name="Community Participation Guidelines">Community Participation Guidelines</a></li>

                    <li><a href="https://www.mozilla.org/about/this-site/" data-link-type="footer" data-link-name="About this site">About
                            this site</a></li>
                </ul>
                <p class="mzp-c-footer-license" rel="license">


                    Visit <a href="https://www.mozilla.org/">Mozilla Corporation’s</a> not-for-profit parent, the <a
                        href="https://foundation.mozilla.org/?utm_source=www.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=footer"
                        rel="external noopener">Mozilla Foundation</a>.<br>
                    Portions of this content are ©1998–2023 by individual mozilla.org contributors. Content available under
                    a <a rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
                </p>
            </div>
        </nav>
    </div>
</footer>
