<section class="mzp-t-dark">
    <div class="mzp-l-content">
        <div class="teams-text-wrapper">
            <h2>Current Cohort</h2>
        </div>
        <div class="teams-grid">
            <section class="c-card">
                <div>
                    <img src="/img/profiles/francisco_tolmasky-200.jpg" width="200" height="200"
                        srcset="/img/profiles/francisco_tolmasky-400.jpg 2x" alt="">
                    <p class="c-card-company">Beyond oEmbed</p>
                    <a href="https://tolmasky.com" class="c-card-title">Francisco Tolmasky</a>
                    <p class="c-card-desc">Francisco was a member of the original iPhone team at Apple, working on
                        Mobile Safari. He later founded 280 North where he worked on the Cappuccino web framework, which
                        was later acquired by Motorola. He is currently working on RunKit, a revolutionary new way to
                        interact with code.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Define a standardized method for discovering and
                        integrating 3rd party services into web pages in a secure, performant, and easy-to-use way.</p>
                </div>
                <a href="https://tolmasky.com" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img src="/img/profiles/justine_tunney-200.jpg" width="200" height="200"
                        srcset="/img/profiles/justine_tunney-400.jpg 2x" alt="">
                    <p class="c-card-company">Actually Portable Executable</p>
                    <a href="/mieco/justine-tunney" class="c-card-title">Justine Tunney</a>
                    <p class="c-card-desc">Justine is an activist who started as a cyber security hacker and used that
                        experience to improve the security of open source software. She is the creator of Redbean, an
                        open source web server that allows you to build local web apps in a single zip executable.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Extend the reach of universal binary files from
                        x86 chips to work on ARM chips.</p>
                </div>
                <a href="/mieco/justine-tunney" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/yoshiki_ohshima-200.jpg" width="200" height="200"
                        srcset="/img/profiles/yoshiki_ohshima-400.jpg 2x" alt="">
                    <p class="c-card-company">Croquet Microverse</p>
                    <a href="/mieco/yoshiki-ohshima" class="c-card-title">Yoshiki Ohshima</a>
                    <p class="c-card-desc">Yoshiki is both a computer scientist and software engineer who has published
                        dozens of academic papers. He has worked on creating new programming languages and environments,
                        designing and implementing dynamic interactive systems and applications.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Democratize the metaverse by enabling users and
                        developers to create and modify a world from within itself, all while interacting with other
                        users.</p>
                </div>
                <a href="/mieco/yoshiki-ohshima" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/rosanne_liu-200.jpg" width="200" height="200"
                        srcset="/img/profiles/rosanne_liu-400.jpg 2x" alt="">
                    <p class="c-card-company">ML Collective</p>
                    <a href="https://rosanneliu.com" class="c-card-title">Rosanne Liu</a>
                    <p class="c-card-desc">Rosanne is one of the 15 founding members of Uber AI Labs and has been
                        building communities for underrepresented and underprivileged researchers since 2018. She
                        obtained her PhD in Computer Science at Northwestern University and serves as the Diversity,
                        Equity & Inclusion chair of ICLR 2022 and 2023.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Create and nurture a diverse and inclusive
                        scientific community, by empowering non-standard and non-traditional scientists to grow on their
                        own timelines and thrive in their self-defined career paths.</p>
                </div>
                <a href="https://rosanneliu.com" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/gordon_brander-200.jpg" width="200" height="200"
                        srcset="/img/profiles/gordon_brander-400.jpg 2x" alt="">
                    <p class="c-card-company">Noosphere</p>
                    <a href="https://gordonbrander.com/" class="c-card-title">Gordon Brander</a>
                    <p class="c-card-desc">Gordon worked on 5 browsers and an operating system while previously at
                        Google and Mozilla. Drawing from those experiences, his goal is to understand and create
                        open-ended ecosystems through software.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>User-owned tools for thinking together. Building
                        an open and decentralized protocol for multiplayer note-taking that prioritizes user-owned data.
                    </p>
                </div>
                <a href="https://gordonbrander.com/" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/simon_willison-200.jpg" width="200" height="200"
                        srcset="/img/profiles/simon_willison-400.jpg 2x" alt="">
                    <p class="c-card-company">Datasette</p>
                    <a href="https://simonwillison.net/" class="c-card-title">Simon Willison</a>
                    <p class="c-card-desc">Simon, a serial entrepreneur and journalist, co-founded Lanyrd, a social
                        conference directory that was eventually acquired by Eventbrite. He is the co-creator of the
                        Django Web framework and was also a JSK Journalism Fellow at Stanford University.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Help people publish their data online in the
                        most flexible format for others to explore, analyze, and use.</p>
                </div>
                <a href="https://simonwillison.net/" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/simon_wardley-200.jpg" width="200" height="200"
                        srcset="/img/profiles/simon_wardley-400.jpg 2x" alt="">
                    <p class="c-card-company">Wardley Maps for Good</p>
                    <a href="https://list.wardleymaps.com/" class="c-card-title">Simon Wardley</a>
                    <p class="c-card-desc">Simon, a senior researcher at DXC Technology, specializes in the intersection
                        of strategy and new technologies. He is best known for the creation of Wardley mapping.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Can Wardley mapping help us find ways that
                        interactive games can be used to encourage beneficial behaviours within society?</p>
                </div>
                <a href="https://list.wardleymaps.com/" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/brendan_fong-200.jpg" width="200" height="200"
                        srcset="/img/profiles/brendan_fong-400.jpg 2x" alt="">
                    <p class="c-card-company">Democratizing AlgebraicJulia</p>
                    <a href="http://www.brendanfong.com/" class="c-card-title">Brendan Fong</a>
                    <p class="c-card-desc">Brendan is the CEO of Topos Institute, an independent research non-profit. He
                        holds a PhD in computer science from Oxford, and undertook postdoctoral studies in systems
                        engineering and mathematics at UPenn and MIT. He’s also the founder of the open-access journal
                        Compositionality and co-author of the textbook An Invitation to Applied Category Theory.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Open the use and future development of
                        AlgebraicJulia to a wider and more diverse community.</p>
                </div>
                <a href="http://www.brendanfong.com/" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/charles_forman-200.jpg" width="200" height="200"
                        srcset="/img/profiles/charles_forman-400.jpg 2x" alt="">
                    <p class="c-card-company">Storyboarder</p>
                    <a href="https://wonderunit.com/about/charles/" class="c-card-title">Charles Forman</a>
                    <p class="c-card-desc">Charles is a movie maker, dreamer, product designer, and entrepreneur. He
                        founded OMGPOP, the video game company behind Draw Something, which sold to Zynga. He also
                        developed Picturelife, a smart photo storage and management company, which sold to SmugMug.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Build a community for visual storytellers to
                        create, iterate, and experience other’s stories, starting with an easy-to-use storyboarding tool
                        built for people who don’t draw.</p>
                </div>
                <a href="https://wonderunit.com/about/charles/" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/jeff_lindsay-200.jpg" width="200" height="200"
                        srcset="/img/profiles/jeff_lindsay-400.jpg 2x" alt="">
                    <p class="c-card-company">Tractor System</p>
                    <a href="/mieco/jeff-lindsay" class="c-card-title">Jeff Lindsay</a>
                    <p class="c-card-desc">Jeff is a rogue software engineer and veteran open source hacker. He is a
                        founder of SuperHappyDevHouse and Hacker Dojo, and helped create Docker, Twilio, and TIGSource.
                        He also pioneered webhooks and early ideas around serverless.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Enable people to build and integrate arbitrary
                        software systems from high leverage primitives through the "Photoshop of software."</p>
                </div>
                <a href="/mieco/jeff-lindsay" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/adam_bouhenguel-200.jpg" width="200" height="200"
                        srcset="/img/profiles/adam_bouhenguel-400.jpg 2x" alt="">
                    <p class="c-card-company">Metered & Research Portfolio</p>
                    <a href="https://twitter.com/ajbouh?lang=en" class="c-card-title">Adam Bouhenguel</a>
                    <p class="c-card-desc">Adam designs programming systems and tools for thinking. He started Tesserai
                        to build intelligent systems from simple, composable parts. He studied computer science at MIT.
                    </p>
                    <p class="c-card-mission"><strong>Mission: </strong>Help people turn machine learning models and
                        other APIs into profitable, scalable businesses. Enable new funding models that reward
                        engineers, researchers, and scientists for their most impactful contributions.</p>
                </div>
                <a href="https://twitter.com/ajbouh?lang=en" class="c-card-cta">Learn more</a>
            </section>
            <section class="c-card">
                <div>
                    <img class="c-card-image" src="/img/profiles/andy_matuschak-200.jpg" width="200" height="200"
                        srcset="/img/profiles/andy_matuschak-400.jpg 2x" alt="">
                    <p class="c-card-company">Mnemonic medium</p>
                    <a href="/mieco/andy-matuschak" class="c-card-title">Andy Matuschak</a>
                    <p class="c-card-desc">Andy invents tools that expand what people can think and do. Previously, he
                        helped design and build iOS at Apple, led R&D at Khan Academy, and created popular open source
                        projects Sparkle and Pixen.</p>
                    <p class="c-card-mission"><strong>Mission: </strong>Help people internalize what they read through
                        an open source platform which augments books and articles with memory and learning support
                        tools.</p>
                </div>
                <a href="/mieco/andy-matuschak" class="c-card-cta">Learn more</a>
            </section>
        </div>
    </div>
</section>