<aside class="c-news-ticker">
    <div class="c-news-ticker-content">
        <div class="set-one">
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
        </div>
        <div class="set-two">
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
            <p class="c-news-ticker-item">Thank you for joining the responsible ai conversation</p>
            <p class="c-news-ticker-item">Top 3 winners announced</p>
        </div>
    </div>
</aside>