<li><details closed>
            <summary>
                <a href="/content/llms-101/index.html">LLMs 101</a>
            </summary>
        <ul class='sub_menu'>
<li><a href="/content/llms-101/index.html#what-do-these-numbers-mean-in-the-names-of-models">What do these numbers mean in the names of models?</a></li>
<li><a href="/content/llms-101/index.html#what-is-a-parameter">What is a parameter?</a></li>
<li><a href="/content/llms-101/index.html#what-does-training-an-llm-mean">What does “training” an LLM mean?</a></li>
<li><a href="/content/llms-101/index.html#how-does-a-typical-training-run-work">How does a typical training run work?</a></li>
<li><a href="/content/llms-101/index.html#what-is-backpropagation">What is backpropagation?</a></li>
<li><a href="/content/llms-101/index.html#what-does-fine-tuning-an-llm-mean">What does “fine-tuning” an LLM mean?</a></li>
<li><a href="/content/llms-101/index.html#human-in-the-loop-approach">“Human in the loop” approach</a></li>
<li><a href="/content/llms-101/index.html#what-does-inference-mean">What does "inference" mean?</a></li>
<li><a href="/content/llms-101/index.html#is-inference-computationally-expensive">Is inference computationally expensive?</a></li>
<li><a href="/content/llms-101/index.html#what-is-a-vector">What is a vector?</a></li>
<li><a href="/content/llms-101/index.html#what-is-beam-search">What is beam search?</a></li>
<li><a href="/content/llms-101/index.html#what-is-sampling">What is sampling?</a></li>
<li><a href="/content/llms-101/index.html#what-is-temperature">What is temperature?</a></li>
</ul></details></li>