<li>
  <details closed>
    <summary>
      <a href="/content/image-models/index.html">Image Generation</a>
    </summary>
    <ul class="sub_menu">
      <li>
        <a href="/content/image-models/index.html#what-is-image-generation"
          >What is image generation?</a
        >
      </li>
      <li>
        <a href="/content/image-models/index.html#what-are-diffusion-models"
          >What are diffusion models?</a
        >
      </li>
      <li>
        <a href="/content/image-models/index.html#challenges">Challenges</a>
      </li>
      <li>
        <a href="/content/image-models/index.html#technical-foundations"
          >Technical Foundations</a
        >
      </li>
      <li>
        <a href="/content/image-models/index.html#glossary">Glossary</a>
      </li>
      <li>
        <a href="/content/image-models/index.html#recommended-references"
          >Recommended References</a
        >
      </li>
    </ul>
  </details>
</li>
