<li><details closed>
            <summary>
                <a href="/content/running-llms-locally/index.html">Running LLMs Locally</a>
            </summary>
        <ul class='sub_menu'>
<li><a href="/content/running-llms-locally/index.html#what-is-a-llamafile">What is a llamafile?</a></li>
<li><a href="/content/running-llms-locally/index.html#installing-mistral_7b">Installing Mistral_7B</a></li>
<li><a href="/content/running-llms-locally/index.html#other-models">Other models</a></li></ul></details></li>