{# layout options: 'image-top', 'image-left', 'image-right' #}

{% macro imageCard(slide, layout='image-top') %}
<div class="card {{ layout }} card-compact shrink-0 grow-0 mt-10">
  <figure class="card-figure !m-0">
      <img src="{{ slide.image }}" alt="{{ slide.alt }}" class="w-full {{ layout }}" />
  </figure>
  <div class="card-body !px-0 !base-100-content whitespace-normal w-full">
      <div class="font-semibold mb-0">{{ slide.title }}</div>
      <p>{{ slide.description }}</p>
  </div>
</div>
{% endmacro %}