<li><details closed>
            <summary>
                <a href="/content/projects-we-love/index.html">Projects We Love</a>
            </summary>
        <ul class='sub_menu'>
<li><a href="/content/projects-we-love/index.html#complete-llm-solutions">Complete LLM Solutions</a></li>




<li><a href="/content/projects-we-love/index.html#inference-runtimes">Inference runtimes</a></li>








<li><a href="/content/projects-we-love/index.html#retrieval-augmented-generation">Retrieval augmented generation</a></li>





<li><a href="/content/projects-we-love/index.html#orchestration">Orchestration</a></li>


<li><a href="/content/projects-we-love/index.html#front-ends">Front-ends</a></li>
</ul></details></li>