<h2 id="contribution-guide">Contribution Guide</h2>
<p>The AI Guide will be kickstarted by Mozilla&#39;s team but powered by community contributions. Here&#39;s how you can help! </p>
<h3 id="why-contribute-to-ai-guide">Why contribute to AI Guide?</h3>
<p>Mozilla champions an open, accessible Internet where people have the reins. We welcome these amazing new AI breakthroughs.</p>
<p>However, with substantial corporate dollars being invested into AI R&amp;D, it&#39;s unclear for engineers new to the scene which paths are the ones that lead to sustainable open software. We&#39;ve seen this story before.  </p>
<p>Mozilla&#39;s efforts in AI are more than just technical - they&#39;re a call to action and unity across the currently fragmented open source AI Community. </p>
<p>Our AI Guide is a living, breathing resource, rooted in collaboration and community input for experts and newcomers alike, and we invite you to build alongside us.</p>
<p><a href="https://discord.gg/3egbzTKhdk">Join our community →</a> </p>
<h3 id="how-do-i-contribute">How do I contribute?</h3>
<p>Where the Guide needs your help:</p>
<ul>
<li><a href="https://github.com/mozilla/ai-guide/issues/new?assignees=&labels=general&projects=&template=general-feedback.yml">Submit content changes, typos or errors</a> to existing pages</li>
<li><a href="https://github.com/mozilla/ai-guide/issues/new?assignees=&labels=topics&projects=&template=topic-coverage.yml">Suggest missing or new content</a> for the Guide</li>
<li>Fork the repo and create <a href="https://github.com/mozilla/ai-guide">new Python notebooks</a>, submit a Github PR for review</li>
<li><a href="https://github.com/mozilla/ai-guide/issues/new?assignees=&labels=general&projects=&template=general-feedback.yml">Provide feedback</a> on audience, tone and other content suggestions</li>
<li><a href="https://forms.gle/eYJ2s6avtCBXMUQH9">Share other thoughts</a> on the guide and our approach</li>
</ul>
