<h2 id="contribution-guide">Contribution Guide</h2>
<p>The AI Guide will be kickstarted by Mozilla&#39;s team but powered by community contributions. Here&#39;s how you can help! </p>
<h3 id="why-contribute-to-ai-guide">Why contribute to AI Guide?</h3>
<p>Mozilla champions an open, accessible Internet where people have the reins. We welcome these amazing new AI breakthroughs.</p>
<p>However, with substantial corporate dollars being invested into AI R&amp;D, it&#39;s unclear for engineers new to the scene which paths are the ones that lead to sustainable open software. We&#39;ve seen this story before.  </p>
<p>Mozilla&#39;s efforts in AI are more than just technical - they&#39;re a call to action and unity across the currently fragmented open source AI Community. </p>
<p>Our AI Guide is an always-evolving beacon for emerging trends and a hub for experts and newcomers alike to share and grow knowledge, and we ask that you contribute. </p>
<h3 id="how-do-i-contribute">How do I contribute?</h3>
<p>Where the Guide needs your help:</p>
<ol>
<li><a href="https://github.com/mozilla/ai-guide/issues">Submit content changes</a> to existing pages</li>
<li>Create <a href="https://github.com/mozilla/ai-guide">new content</a> via Python notebooks and submit a Github PR for review</li>
<li><a href="https://github.com/mozilla/ai-guide/issues">Provide feedback</a> on audience, tone and other content suggestions</li>
<li><a href="https://forms.gle/eYJ2s6avtCBXMUQH9">Share your thoughts</a> on the guide and our approach</li>
</ol>
