<li><details closed>
            <summary>
                <a href="/content/ai-basics/index.html">AI Basics</a>
            </summary>
        <ul class='sub_menu'>
<li><a href="/content/ai-basics/index.html#what-is-ai-in-2023">What is AI in 2023?</a></li>
<li><a href="/content/ai-basics/index.html#why-are-people-excited-about-llms">Why are people excited about LLMs?</a></li>
<li><a href="/content/ai-basics/index.html#why-are-people-concerned-about-llms">Why are people concerned about LLMs?</a></li>
<li><a href="/content/ai-basics/index.html#what-exactly-is-an-llm">What exactly is an LLM?</a></li>
<li><a href="/content/ai-basics/index.html#what-are-the-pros-cons-of-using-an-llm">What are the pros & cons of using an LLM?</a></li>
<li><a href="/content/ai-basics/index.html#what-new-behaviors-do-llms-unlock">What new behaviors do LLMs unlock?</a></li>
<li><a href="/content/ai-basics/index.html#what-are-the-components-of-transformer-based-pre-trained-llms">What are the components of Transformer-based, pre-trained LLMs?</a></li>
<li><a href="/content/ai-basics/index.html#when-i-send-a-transformer-based-llm-a-prompt-what-happens-internally-in-more-technical-terms">When I send a Transformer-based LLM a “prompt”, what happens internally in more technical terms?</a></li></ul></details></li>